In [1]:
!pip install numpy scipy matplotlib numba sympy joblib tqdm

Requirement already satisfied: numpy in /Users/matveyantonov/opt/anaconda3/lib/python3.8/site-packages (1.19.2)
Requirement already satisfied: scipy in /Users/matveyantonov/opt/anaconda3/lib/python3.8/site-packages (1.5.2)
Requirement already satisfied: matplotlib in /Users/matveyantonov/opt/anaconda3/lib/python3.8/site-packages (3.3.2)
Requirement already satisfied: numba in /Users/matveyantonov/opt/anaconda3/lib/python3.8/site-packages (0.51.2)
Requirement already satisfied: sympy in /Users/matveyantonov/opt/anaconda3/lib/python3.8/site-packages (1.6.2)
Requirement already satisfied: joblib in /Users/matveyantonov/opt/anaconda3/lib/python3.8/site-packages (0.17.0)
Requirement already satisfied: tqdm in /Users/matveyantonov/opt/anaconda3/lib/python3.8/site-packages (4.50.2)
Requirement already satisfied: cycler>=0.10 in /Users/matveyantonov/opt/anaconda3/lib/python3.8/site-packages (from matplotlib) (0.10.0)
Requirement already satisfied: pillow>=6.2.0 in /Users/matveyantonov/opt/anaconda3/lib/python3.8/site-packages (from matplotlib) (8.0.1)
Requirement already satisfied: certifi>=2020.06.20 in /Users/matveyantonov/opt/anaconda3/lib/python3.8/site-packages (from matplotlib) (2020.6.20)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in /Users/matveyantonov/opt/anaconda3/lib/python3.8/site-packages (from matplotlib) (2.4.7)
Requirement already satisfied: python-dateutil>=2.1 in /Users/matveyantonov/opt/anaconda3/lib/python3.8/site-packages (from matplotlib) (2.8.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /Users/matveyantonov/opt/anaconda3/lib/python3.8/site-packages (from matplotlib) (1.3.0)
Requirement already satisfied: setuptools in /Users/matveyantonov/opt/anaconda3/lib/python3.8/site-packages (from numba) (50.3.1.post20201107)
Requirement already satisfied: llvmlite<0.35,>=0.34.0.dev0 in /Users/matveyantonov/opt/anaconda3/lib/python3.8/site-packages (from numba) (0.34.0)
Requirement already satisfied: mpmath>=0.19 in /Users/matveyantonov/opt/anaconda3/lib/python3.8/site-packages (from sympy) (1.1.0)
Requirement already satisfied: six in /Users/matveyantonov/opt/anaconda3/lib/python3.8/site-packages (from cycler>=0.10->matplotlib) (1.15.0)

In [2]:
import pandas as pd
import numpy as np
import math
import sympy as sym

#### Для задачи были выбраны котировки трех компаний: Мегафон, Embracer Group и Nestle

In [3]:
MGFN = pd.read_csv("Megafon.csv")
EMBRGR = pd.read_csv("Embracer_Group.csv")
NSTL = pd.read_csv("Nestle.csv")

In [4]:
print(MGFN.shape)
print(EMBRGR.shape)
print(NSTL.shape)

(1089, 6)
(1499, 7)
(2345, 7)

In [5]:
MGFN.head

<bound method NDFrame.head of             Дата    Цена   Откр.   Макс.    Мин.  Изм. %
0     29.09.2022   99,95   99,95   99,95   99,95  -0,03%
1     28.09.2022   99,98   99,98   99,98   99,98   0,08%
2     27.09.2022   99,90   99,90   99,90   99,90   0,59%
3     26.09.2022   99,31   99,31   99,31   99,31  -0,49%
4     23.09.2022   99,80   99,80   99,80   99,80   0,04%
...          ...     ...     ...     ...     ...     ...
1084  06.06.2018  102,20  102,20  102,20  102,20  -0,05%
1085  05.06.2018  102,25  102,25  102,25  102,25   0,00%
1086  04.06.2018  102,25  102,25  102,25  102,25   0,00%
1087  01.06.2018  102,25  102,00  102,25  102,00  -1,08%
1088  31.05.2018  103,37  103,37  103,37  103,37   1,34%

[1089 rows x 6 columns]>

#### Возьмем только нужную колонку - ЦЕНА

In [6]:
n = 300
MGFN_df = pd.DataFrame(MGFN["Цена"])[:n]
EMBRGR_df = pd.DataFrame(EMBRGR["Цена"])[:n]
NSTL_df = pd.DataFrame(NSTL["Цена"])[:n]

In [7]:
print(MGFN_df.shape)
print(EMBRGR_df.shape)
print(NSTL_df.shape)

(300, 1)
(300, 1)
(300, 1)

#### Данные представлены строчным типом, потому нужно преобразовать его во float. Для этого заменяем запятую на точку

In [8]:
MGFN_df['Цена'] = MGFN_df['Цена'].str.replace(',', '.')
EMBRGR_df['Цена'] = EMBRGR_df['Цена'].str.replace(',','.')
NSTL_df['Цена'] = NSTL_df['Цена'].str.replace(',','.')

In [9]:
MGFN_df.head()

    Цена
0  99.95
1  99.98
2  99.90
3  99.31
4  99.80

#### Приводим к float

In [10]:
MGFN_df['Цена'] = MGFN_df['Цена'].astype(float)
EMBRGR_df['Цена'] = EMBRGR_df['Цена'].astype(float)
NSTL_df['Цена'] = NSTL_df['Цена'].astype(float)

In [11]:
type(MGFN_df['Цена'][0])

numpy.float64

#### Расчитываем нетто-доходность

In [12]:
data = pd.DataFrame()
data['MGFN'] = MGFN_df['Цена']/MGFN_df['Цена'].shift() - 1
data['EMBRGR'] = EMBRGR_df['Цена']/EMBRGR_df['Цена'].shift() - 1
data['NSTL'] = NSTL_df['Цена']/NSTL_df['Цена'].shift() - 1
data = data[1:]

In [13]:
data.head()

       MGFN    EMBRGR      NSTL
1  0.000300  0.016695 -0.002411
2 -0.000800 -0.005096  0.010039
3 -0.005906 -0.027509 -0.004602
4  0.004934  0.073742  0.007581
5 -0.000401 -0.004724 -0.004955

In [14]:
netto_MGFN = data['MGFN']
netto_EMBRGR = data['EMBRGR']
netto_NSTL = data['NSTL']

In [15]:
print('Нетто-доходность:', list(netto_MGFN[:3]))
print('Нетто-доходность:', list(netto_EMBRGR[:3]))
print('Нетто-доходность:', list(netto_NSTL[:3]))

Нетто-доходность: [0.00030015007503747526, -0.0008001600320063362, -0.005905905905905895]
Нетто-доходность: [0.016695451928612437, -0.005096262740656776, -0.027509011572756648]
Нетто-доходность: [-0.002410979228486654, 0.010039040713887282, -0.004601509295048767]

#### Расчитываем среднее и дисперсию

In [16]:
mean_MGFN = data['MGFN'].mean()
mean_EMBRGR = data['EMBRGR'].mean()
mean_NSTL = data['NSTL'].mean()

disp_MGFN = netto_MGFN.var()
disp_EMBRGR = netto_EMBRGR.var()
disp_NSTL = netto_NSTL.var()

In [17]:
print("MGFN mean:", mean_MGFN, "\nMGFN dispersion:", disp_MGFN, end="\n\n")
print("EMBRGR mean:", mean_EMBRGR, "\nEMBRGR dispersion:", disp_EMBRGR, end="\n\n")
print("NSTL mean:", mean_NSTL, "\nNSTL dispersion:", disp_NSTL, end="\n\n")

MGFN mean: 0.00010771465665921932
MGFN dispersion: 0.00015394137441765836

EMBRGR mean: 0.002818757119682106
EMBRGR dispersion: 0.0010576663783092

NSTL mean: 0.0002961046532385743
NSTL dispersion: 0.00011881974339640245

#### Составляем матрицу ковариации

In [18]:
array = np.array([data['MGFN'], data['EMBRGR'], data['NSTL']])
covar = np.cov(array)
print(covar)

[[ 1.53941374e-04 -1.45044822e-05 -1.83914223e-05]
 [-1.45044822e-05  1.05766638e-03  6.68869035e-05]
 [-1.83914223e-05  6.68869035e-05  1.18819743e-04]]

### Составим задачу минимизации дисперсии портфеля


$$ \mathbb{D}[x] = \mathbb{D}\left[\sum^{3}_{i=1}r_i x_i \right] = \sum^{3}_{i=1}\mathbb{D}[r_i] x^2_i + \sum_{1 \leq i < j \leq 3}2\,Cov(r_i, r_j) x_i x_j = C_{11} x^2_1 + C_{22} x^2_2 + C_{33} x^2_3 +  2 C_{12} x_1 x_2 + 2 C_{13} x_1 x_3 + 2 C_{23} x_2 x_3 = (Cx, x)$$

Составим задачу минимизации 

\begin{equation*}
    \begin{cases}
      f_0(x_{1}, x_{2}, x_{3}) = C_{11} x^2_1 + C_{22} x^2_2 + C_{33} x^2_3 +  2 C_{12} x_1 x_2 + 2 C_{13} x_1 x_3 + 2 C_{23} x_2 x_3 \rightarrow min \\
      f_1(x_{1}, x_{2}, x_{3}) = \mu_{1}x_{1} + \mu_{2}x_{2} + \mu_{3}x_{3} = \mu* \\
      f_2(x_{1}, x_{2}, x_{3}) = x_{1} + x_{2} + x_{3} = 1 \\
      0.00010771465665921932 < \mu* < 0.0002961046532385743  \\
      x_{1} \geqslant 0 \\
      x_{2} \geqslant 0 \\
      x_{3} \geqslant 0
    \end{cases}
\end{equation*}

Возьмем среднюю доходность за $\mu$* = 0.0002

Тогда лагранжиан системы будет выглядеть:

$$L(x_{1}, x_{2}, x_{3}) = \lambda_{0} f_{0}(x_{1}, x_{2}, x_{3}) + \lambda_{1} (f_{1}(x_{1}, x_{2}, x_{3}) - 0.0002) + \lambda_{2} (f_{2}(x_{1}, x_{2}, x_{3}) - 1)$$

#### Задаем значения параметров для решения уравнения

In [29]:
x_1 = sym.Symbol('x_1', nonnegative=True)
x_2 = sym.Symbol('x_2', nonnegative=True)
x_3 = sym.Symbol('x_3', nonnegative=True)
lambda_1 = sym.Symbol('l_1', nonnegative=True)
lambda_2 = sym.Symbol('l_2', nonnegative=True)

С11 = covar[0][0]
С22 = covar[1][1]
С33 = covar[2][2]
С12 = covar[0][1]
С13 = covar[1][2]
С23 = covar[1][2]

m_1 = mean_MGFN
m_2 = mean_EMBRGR
m_3 = mean_NSTL

In [25]:
f_0 = С11 * x_1**2 + С22 * x_2**2 + С33 * x_3**2 + 2*С12*x_1*x_2 + 2*С13*x_1*x_3 + 2*С23*x_3*x_2
f_1 = m_1 * x_1 + m_2 * x_2 + m_3 * x_3
f_2 = x_1 + x_2 + x_3

In [30]:
lagrange_func_for_0 = lambda_1 * (f_1 - 0.002) + lambda_2 * (f_2 - 1)

ans_0 = list(list(sym.nonlinsolve([
    lagrange_func_for_0.diff(x_1),
    lagrange_func_for_0.diff(x_2),
    lagrange_func_for_0.diff(x_3),
    f_1 - 0.002,
    f_2 - 1
], [x_1, x_2, x_3, lambda_1, lambda_2]))[0])
print(ans_0)

[0.302008224087043 - 0.930510126953418*x_3, 0.697991775912957 - 0.0694898730465826*x_3, x_3, 0, 0]

In [31]:
lagrange_func_for_1 = f_0 + lambda_1 * (f_1 - 0.002) + lambda_2 * (f_2 - 1)

ans_1 = list(list(sym.nonlinsolve([
    lagrange_func_for_1.diff(x_1),
    lagrange_func_for_1.diff(x_2),
    lagrange_func_for_1.diff(x_3),
    f_1 - 0.002,
    f_2 - 1
], [x_1, x_2, x_3, lambda_1, lambda_2]))[0])
print(ans_1)

[0.164618356472290, 0.687731592620063, 0.147650050907647, -0.523515587140486, 5.90582152740109e-6]

In [23]:
f_0.subs({x_1:ans_1[0],
           x_2:ans_1[1],
           x_3:ans_1[2]})

0.000100614199098521

In [32]:
0.164618356472290+0.687731592620063+0.147650050907647

1.0